/* FOR CONTENT(SIDEBAR)PAGES */
* {
    /* border: 1px solid  black; */
}
body,
html {
    display: flex;
    height: 100%;
    margin: 0;
}
#main-sideBar {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.SB-intro {
    font-size: 30px;
}
#bttnContainer {
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}
.bttn,
.homePage {
    text-decoration: none;
    color: inherit;
}
#header {
    display: flex;
}
