/* NAVBAR AND HEADER */

* {
    /* border: 1px solid aliceblue; */
}
html, 
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #222831;
    color: aliceblue;
}
#navBar {
    display:flex;
    padding: 1em 6.5em 1em;
}
#logo,
.card-info {
    font-weight: 900;
    font-size: 30px;
}
#links {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    
}
.nav-link:hover {
    /* background-color:#892CDC;; */
    box-shadow: 0 0 24px 1px #892CDC;
}
.nav-link:hover {
    color: #D6C6E1;
}
.leftLink {
    margin-left: auto;
    margin-right: 2em;
}
.bgIMG {
    /* background-image: url("../images/banner.JPG"); */
}
#headerContainer {
    background-color: #667588;
    display: flex;
    justify-content: center;
    padding: 2em 2em;
}
#header-txt {
    width: 50%;
}
.header-image,
.header-bttn {
    border-radius: 15px;
}
#header-txt,
.header-image {
    margin-left: auto;
}
.header-image{
    border: 5px solid aliceblue;
    box-shadow: 10px 5px 5px #892CDC;    
    width: 300px;
}
.header-image:hover{
    
}

/* CARDS CONTAINER */

#cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    /* height: 200%; */
    flex-grow: 2;
}
.card-info {
    text-align: center;
}
#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.card-txt {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: aliceblue
}
#card,
.card-image {
    height: 80px;
    width: 80px;
    border-radius: 15px 35px;
    box-shadow: 0 0 24px 1px black;
    /* border: 1px solid white */
}
.card-image:hover {
    border-radius: 35px 15px;
    box-shadow: 0 0 24px 1px #892CDC;
}

/* About Section */
#footerContainer {
 display: flex;
 justify-content: center; 
 /* padding: 8px; */
 background-color: #130d63;
 align-self: flex-end;
 height: fit-content;
}


