/* NAVBAR AND HEADER */
* {
    /* border: 1px solid aliceblue; */
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #2563eb;
    color: white;
}
#navBar {
    display:flex;
    padding: 2em 7em 0;
    background-color: #598EF3;
}
#logo,
.card-info {
    font-weight: 900;
    font-size: 30px;
}
#links {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.nav-link:hover {
    color: #2315e6;
}
.leftLink {
    margin-left: auto;
    margin-right: 2em;
}
#headerContainer {
    background-color: #4b4928;
    display: flex;
    justify-content: center;
    padding: 2em 2em;
}
#header-txt {
    width: 50%;
}
.header-image,
.header-bttn {
    border-radius: 15px;
}
#header-txt,
.header-image {
    margin-left: auto;
}

/* CARDS CONTAINER */

#cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
}
#cards {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.card-txt {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
#card,
.card-image {
    height: 80px;
    width: 80px;
    border-radius: 15px 35px;
}

